<!doctype html>
<html>
<head>
	<title>Matches</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

	<h1>My Profile</h1>
	<p>
	<label for="name">Name:</label>
	<input type="text" name="name" required="required" /><br />
	<label for="age">Age:</label>
	<input type="text" name="age" required="required" /><br />
	<label for="location">Location:</label>
	<input type="text" name="location" required="required" /><br />
	<label for="mbti">MBTI:</label>
	<input type="text" name="mbti" required="required" /><br />
	</p>
	<p>
	<label for="interests">
			My interests are:
	</label>
	<br />
	<textarea rows="5" cols="30" id="interests">
	</textarea>
	</p>
	<br />
	<input type="submit" value="Done" /><br />

	<p>Upload your profile photo:<br />
	<input type="file" name="profile-pic" /><br />
	<input type="submit" value="Upload" />
	</p>



		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>

</body>
</html>
