<!doctype html>
<html>
<head>
	<title>Matches</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

</head>

<body>

	<h1>Matches<h1>
		<a href="/profile" class="btn btn-danger btn-lg btn-block">Back</a>


		<div id="navbar" style="height:8vh">
			<ol class="navigation">
				<li><a href="/matches">Matches</a></li>
				<li><a href="/mbti">MBTI</a></li>
				<li><a href="/chat">Chat</a></li>
				<li><a href="/profile">Profile</a></li>
			</ol>
		</div>


		
		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
