<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<title>MBTI</title>

</head>

<body>
<div>
	<h1 style = "text-align: center">Myers-Briggs Personality Types</h1>
    <br>



	<!-- Links to the 16 personalities-->

<div class = "container" style="font-family:monospace; text-align: center">
	<div class = "row">
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ISTJ">ISTJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ISFJ">ISFJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/INFJ">INFJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/INTJ">INTJ</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ISTP">ISTP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ISFP">ISFP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/INFP">INFP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/INTP">INTP</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ESTP">ESTP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ESFP">ESFP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ENFP">ENFP</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ENTP">ENTP</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ESTJ">ESTJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ESFJ">ESFJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ENFJ">ENFJ</a>
		</div>
		<div class = "col-xs-3">
			<a class = "btn btn-info" role = "button" href = "mbti/ENTJ">ENTJ</a>
		</div>
	</div>
</div>

<br>
<br>

<!--
<div class = "container" style = "font-size:1; text-align: center">
	<div class = "row">
		<div class = "col-xs-3"><font size = "5">
			I<br>Introvert
		</div>
		<div class = "col-xs-3">
			S<br>Sensing
		</div>
		<div class = "col-xs-3">
			T<br>Thinking
		</div>
		<div class = "col-xs-3">
			J<br>Judging
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			E<br>Extrovert
		</div>
		<div class = "col-xs-3">
			N<br>Intuitive
		</div>
		<div class = "col-xs-3">
			F<br>Feeling
		</div>
		<div class = "col-xs-3">
			P<br>Perceiving 
		</font>
		</div>
	-->

<!--<ol style="float:left; margin:0; padding:0; overflow:hidden">
	<li style="display:block; float:left">
<h2 style = "text-align: center">I: Introvert <br>
							   S: Sensing <br>
							   T: Thinking <br>
							   J: Judging <br>
							   <h2>
							   </li><li style="display:block; float:left">
<h3 style = "text-align: center"> VS.
	<h3>
	</li><li style="display:block; float:left">
<h2 style = "text-align: center">E: Extrovert <br>
							    N: Intuitive <br>
							    F: Feeling <br>
							    P: Perceiving <br>
							   <h4>
							   </li></ol>
							-->
</h1>
</div>

<div id="navbar" class="navigation">
	<ul>
		<li id="matcheslink">
			<span class="fa fa-heart-o" aria-hidden="true"></span>
			<p>MATCHES</p>
		</li>
		<li id="mbtilink">
			<span class="fa fa-bar-chart" aria-hidden="true"></span>
			<p>MBTI</p>
		</li>
		<li id="chatlink">
			<span class="fa fa-inbox" aria-hidden="true"></span>
			<p>CHAT</p>
		</li>
		<li id="profilelink">
			<span class="fa fa-user-circle" aria-hidden="true"></span>
			<p>PROFILE</p>
		</li>
	</ul>
</div>
</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>

</body>
</html>
