<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<title>MBTI</title>

</head>

<body>
<div>
	<h1 style = "text-align: center">Meyer-Briggs Personality Types<h1>



	<!-- Links to the 16 personalities-->

<div class = "container" style="font-family:monospace; text-align: center">
	<div class = "row">
		<div class = "col-xs-3">
			<a href = "mbti/ISTJ">ISTJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ISFJ">ISFJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/INFJ">INFJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/INTJ">INTJ</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a href = "mbti/ISTP">ISTP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ISFP">ISFP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/INFP">INFP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/INTP">INTP</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a href = "mbti/ESTP">ESTP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ESFP">ESFP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ENFP">ENFP</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ENTP">ENTP</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			<a href = "mbti/ESTJ">ESTJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ESFJ">ESFJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ENFJ">ENFJ</a>
		</div>
		<div class = "col-xs-3">
			<a href = "mbti/ENTJ">ENTJ</a>
		</div>
	</div>
</div>

<br>
<br>

<div class = "container" style = "font-size:15; text-align: center">
	<div class = "row">
		<div class = "col-xs-3">
			I<br>Introvert
		</div>
		<div class = "col-xs-3">
			S<br>Sensing
		</div>
		<div class = "col-xs-3">
			T<br>Thinking
		</div>
		<div class = "col-xs-3">
			J<br>Judging
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-3">
			E<br>Extrovert
		</div>
		<div class = "col-xs-3">
			N<br>Intuitive
		</div>
		<div class = "col-xs-3">
			F<br>Feeling
		</div>
		<div class = "col-xs-3">
			P<br>Perceiving
		</div>
<!--<ol style="float:left; margin:0; padding:0; overflow:hidden">
	<li style="display:block; float:left">
<h2 style = "text-align: center">I: Introvert <br>
							   S: Sensing <br>
							   T: Thinking <br>
							   J: Judging <br>
							   <h2>
							   </li><li style="display:block; float:left">
<h3 style = "text-align: center"> VS.
	<h3>
	</li><li style="display:block; float:left">
<h2 style = "text-align: center">E: Extrovert <br>
							    N: Intuitive <br>
							    F: Feeling <br>
							    P: Perceiving <br>
							   <h4>
							   </li></ol>
							-->
</h1>
</div>

	<div id="navbar" style="height:8vh">
		<ol class="navigation">
			<li><a href="/matches">Matches</a></li>
			<li><a href="/mbti">MBTI</a></li>
			<li><a href="/chat">Chat</a></li>
			<li><a href="/profile">Profile</a></li>
		</ol>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
