<!doctype html>

<html>
<head>
	<title>MBTI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	
</head>

<body>

	<h1>Personalities<h1>

		<!-- Links to the 16 personalities-->
		<a href = "istj">ISTJ</a>
		<!--
		<a href = "ISFJ">ISFJ</a>
		<a href = "INFJ">INFJ</a>
		<a href = "INTJ">INTJ</a>
		<a href = "ISTP">ISTP</a>
		<a href = "ISFP">ISFP</a>
		<a href = "INFP">INFP</a>
		<a href = "INTP">INTP</a>
		<a href = "ESTP">ESTP</a>
		<a href = "ESFP">ESFP</a>
		<a href = "ENFP">ENFP</a>
		<a href = "ENTP">ENTP</a>
		<a href = "ESTJ">ESTJ</a>
		<a href = "ESFJ">ESFJ</a>
		<a href = "ENFJ">ENFJ</a>
		<a href = "ENTJ">ENTJ</a>
	-->
	


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>