<!doctype html>

<html>
<head>
	<title>MBTI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

</head>

<body>

	<h1>Personalities<h1>

		<!-- Links to the 16 personalities-->
		<a href = "mbti/ISTJ">ISTJ</a>

		<a href = "mbti/ISFJ">ISFJ</a>
		<a href = "mbti/INFJ">INFJ</a>
		<a href = "mbti/INTJ">INTJ</a>
		<a href = "mbti/ISTP">ISTP</a>
		<a href = "mbti/ISFP">ISFP</a>
		<a href = "mbti/INFP">INFP</a>
		<a href = "mbti/INTP">INTP</a>
		<a href = "mbti/ESTP">ESTP</a>
		<a href = "mbti/ESFP">ESFP</a>
		<a href = "mbti/ENFP">ENFP</a>
		<a href = "mbti/ENTP">ENTP</a>
		<a href = "mbti/ESTJ">ESTJ</a>
		<a href = "mbti/ESFJ">ESFJ</a>
		<a href = "mbti/ENFJ">ENFJ</a>
		<a href = "mbti/ENTJ">ENTJ</a>




	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
