<!doctype html>

<html>
<head>
    <title>Personality Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    <h1 style = "text-align: center">Personality Test</h1>
    <br />
    <p>If you don't know your personality type, please take a free test provided by HumanMetrics:
    <a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp">Take MBTI Test</a>
    </p>
    <br />

    <a href="/profile" class="btn btn-danger btn-lg btn-block">Back</a>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/navbar.js"></script>

</body>
</html>

</html>
