<!doctype html>
<html>
<head>
	<title>Preferences</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

  <h1 style = "text-align: center">Preferences</h1>
  <form action="#" method="post">
      <label for="gender">Gender:</label>
      <br />
      <input id="female" type="radio" name="gender" value="f">
      <label for="female">Female</label>
      <input id="male" type="radio" name="gender" value="m">
      <label for="male">Male</label>
      <input id="both" type="radio" name="gender" value="b">
      <label for="both">Both</label><br />
      <label for="age">Age:</label>
      <input type="text" name="age" required="required" /><br />
      <br />
      <label for="location">Location:</label>
      <input type="text" name="location" required="required" /><br />
      <br />
      <label for="personalitytype">Personality Type:</label>
      <br />
      <select name="personality" size="8" multiple="multiple">
          <option value="ISTJ" selected="selected">ISTJ</option>
          <option value="ISFJ">ISFJ</option>
          <option value="INFJ">INFJ</option>
          <option value="INTJ">INTJ</option>
          <option value="ISTP">ISTP</option>
          <option value="ISFP">ISFP</option>
          <option value="INFP">INFP</option>
          <option value="INTP">INTP</option>
          <option value="ESTP">ESTP</option>
          <option value="ESFP">ESFP</option>
          <option value="ENFP">ENFP</option>
          <option value="ENTP">ENTP</option>
          <option value="ESTJ">ESTJ</option>
          <option value="ESFJ">ESFJ</option>
          <option value="ENFJ">ENFJ</option>
          <option value="ENTJ">ENTJ</option>
      </select>
      <br />
      <br />
      <input type="submit" value="Done" />
      <br />
      <a href="/profile" class="btn btn-danger btn-lg btn-block">Back</a>

      </p>



		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>

</body>
</html>
