<!doctype html>

<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body >
	<div class="container-fluid">


		<div class="center-profile">

			<div>
				<h1 style="text-align:center">Profile<h1>
			</div>

			<div id="top">
				<img src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" alt="Profile Picture" width="50%" height="50%"class="img-circle" style="float:left; max-width:400px">
				<div id="viewedit" class="view-edit-profile">
					<ul>
						<li>
							<a href="profile/view">View Profile</a>
						</li>
						<li>
							<a href="profile/edit">Edit Profile</a>
						</li>
					</ul>
				</div>
			</div>

			<div id="bottom">
				<div id="bottom-profile" class="bottom-profile">
					<ul style="margin-left: 2%">
						<li>
							<a href="profile/preferences">Preferences</a>
						</li><li>
							<a href="profile/test">Personality Test</a>
						</li><li>
							<a href="profile/support">Support</a>
						</li><li>
							<a href="/">Log Out</a>
						</li>
					</ul>
				</div>
			</div>

		</div>


		<div id="navbar" class="navigation">
			<ul>
				<li id="matcheslink">
					<span class="fa fa-heart-o" aria-hidden="true"></span>
					<p>MATCHES</p>
				</li>
				<li id="mbtilink">
					<span class="fa fa-bar-chart" aria-hidden="true"></span>
					<p>MBTI</p>
				</li>
				<li id="chatlink">
					<span class="fa fa-inbox" aria-hidden="true"></span>
					<p>CHAT</p>
				</li>
				<li id="profilelink">
					<span class="fa fa-user-circle" aria-hidden="true"></span>
					<p>PROFILE</p>
				</li>
			</ul>
		</div>
	</div>


		<!--Profile Options
		<a href = "profile/preferences">Preferences</a>
		<a href = "profile/test">Take The Test</a>
		<a href = "profile/viewProfile">View Profile</a>
		<a href = "profile/editProfile">Edit Profile</a>
		<a href = "profile/support">Support</a>
-->


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>
</body>
</html>
