<!doctype html>

<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	
</head>

<body>

	<h1>Profile<h1>

		<!--Profile Options-->
		<a href = "profile/preferences">Preferences</a>
		<a href = "profile/test">Take The Test</a>
		<a href = "profile/viewProfile">View Profile</a>
		<a href = "profile/editProfile">Edit Profile</a>
		<a href = "profile/support">Support</a>
	


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
