/*.first{
	grid-area; row1;
}
.second{
	grid-area: row2;
}
.third{
	grid-area: row3;
}
.fourth{
	grid-area: row4;
}
.container{
		dispay:inline-grid;
		grid-template-columns: repeat(4, 50px);
		grid-template-rows: repeat(4, 50px);
		grid-gap: 10px 10px;
		justify-items: center;
		grid-template-areas: "row1 row1 row1 row1"
							"row2 row2 row2 row2"
							"row3 row3 row3 row3"
							"row4 row4 row4 row4"
	}
*/